<h1 class="mt-4">Service Provided</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-bitem active">Search</li>
</ol>
<div class="container">
    <form #searchForm="ngForm" (submit)="search()">
        <div class="row">
            <div class="col-md-6">
                <label for="inputName">Name Client:</label>
                <input type="text" [(ngModel)]="name" name="name" class="form-control" id="iputName">
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-md-6">
                <label for="inputMonth">Month: </label>
                <select [(ngModel)]="month" name="month" id="inputMonth" class="form-control">
                    <option value="">Select... </option>
                    <option *ngFor="let month of months" [value]="month">
                        {{month}}
                    </option>
                </select>
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-md-3">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-search"></i>Search
                </button>

                <button type="button" 
                routerLink="/services-provided/form"
                 class="btn btn-warning ml-2">
                    <i class="fa fa-plus"></i>New
                </button>
            </div>
        </div>
    </form>

    <br />

    <div class="row">
        <div class="alert alert-warning" role="alert" *ngIf="message">
            {{message}}
        </div>
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Client </th>
                        <th>Description </th>
                        <th>Price </th>
                        <th>Date </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let s of list">
                        <td>{{ s.client.name}}</td>
                        <td>{{s.description}}</td>
                        <td>{{s.price}}</td>
                        <td>{{s.dateServiceProv}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>